body {
	font-family: 'Playfair Display', serif;
  background-color: #636363;
	
	padding: 0;
	margin: 0;
}



cite {
	font-family: 'Playfair Display';
	margin-top: 300px;
}

footer {
	background-color: #141414;
	color: white;
}

h3 {
	font-family: 'Playfair Display';
	font-weight: bold;
	margin-bottom: 35px;
}


i {
	margin: 5px;
}

q {
	font-family: 'Playfair Display';
	font-style: italic;
	font-size: 1.5em;
}

textarea.form-control {
	height: 150px;
}

.abs {
	position: absolute;
}
.bg {
	background-color: white;
	padding: 10px
}

.blog {
	padding-top: 50px;
	padding-bottom: 50px;
}

.bold {
	font-weight: bold;
}
.bord {
	border-top: 1px solid grey;
	padding: 10px;
}

.btn-default {
	background-color: #2A2A2A;
	color: white;
	height: 50px;
	border-radius: 0;
}

.clients {
	background-color: white;
	padding-left: 7%;
	padding-right: 7%;
	padding-bottom: 40px;
	padding-top: 40px;
}
.contact {
	font-family: 'Work Sans', sans-serif;

	border-top: 1px solid #EBEBEB;
	padding-top: 30px;
}
.contact , .blog {
	background-color: #F6F6F6;
}

.copy {
	font-family: 'Work Sans';
	text-align: center;
}

.form-control {
	border-radius: 0;
}

.form-group {
	margin-bottom: 0;
}

.footer , .contact, .blog{
	padding-left: 7%;
	padding-right: 7%;
}

.img {
	padding-bottom: 15px;
	padding-right: 1px;
}
.imge {
	margin-right: 160px;
}

.mich {
	font-family: 'Work Sans';
  font-weight: 400;
}

.nat {
	position: relative;
  top: -48px;
  left: 10px;
  font-family: 'Work Sans';
  border: none;
  height: 40px;
  color: white;
}
.p {
	font-family: 'Work Sans';
}

.plb {
	padding-bottom: 30px;
	font-family: 'Playfair Display';
	font-weight: bold;
}

.plb2 {
	font-family: 'Work Sans';
	padding-bottom: 30px;
}

.quote {
	padding-right: 270px;
	padding-left: 270px;
	padding-top: 100px;
	line-height: 200%;
}

.qut {
	margin-bottom: 1000px;
}
.test {
	background-image: url('../images/focitation.png');
	color: white;
	height: 300px;
}

.tex {
	font-family: 'Work Sans';
}
.ti {
	padding-top: 30px;
	font-family: 'Playfair Display';
	font-size: 1.3em;
	font-weight: bold;
}

.date {
	font-family: 'Work Sans';
}

#btm {
	margin-bottom: 80px;
	margin-top: 15px;
}

#resize {
	resize: none;
}

#titre {
	font-family: 'Playfair Display', serif;
	font-weight: bold;
}















.navbar-default {
  background-color: #636363;
  border: none;
}

#nav{
  padding-top: 1%;
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  margin: 0;
}

#banner{
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  margin: 0;
}

#nba{
  font-family: 'Work Sans', sans-serif;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 2px;
  margin-top: 7%
}

#text{
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  letter-spacing: 2px;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background-color: #636363;
  border-color: #ffffff;
  color: #ffffff;
}

#icon_fleche{
  margin-top: 10%;
  margin-bottom: 4%;
}
/*fin header*/

#about{
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  margin: 0;
  background-color: #f6f6f6;
}

.aoa{
  margin-top: 5%;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

.text_aoa{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #5f5f5f;
  letter-spacing: 1px;
  margin-top: 2%;
}

#sign{
  margin-top: 2%;
  margin-bottom: 6%;
}
/*fin about*/

#numbers{
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  margin: 0;
  background-image: url('../images/numbers.png');
}

.numbers_1{
  margin-top: 7%;
  margin-bottom: 6%;
}

.img_nb{
  margin-top: 4%;
  margin-right: 8%;
}

h4{
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #ffffff;
}

h5{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
  color: #ffffff;
}
/*fin numbers*/

#bp{
  padding-left: 7%;
  padding-right: 7%;
  width: 100%;
  margin: 0;
  background-color: #f6f6f6;
}

h3{
  margin-top: 5%;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
}

#bp_img{
  margin-top: 3%;
  margin-bottom: 3%;
}

#photo{
  font-family: 'Work Sans', sans-serif;
  font-weight: 500;
}

#bp img{
  margin-bottom: 8%;
}

#vr{
  padding-top: 22%;
  padding-bottom: 28%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8%;
  background-color: #f9f9f9;
}

#vr:hover{
  cursor: pointer;
}

.image_responsive{
  max-width: none;
  width: 100%;
  height: auto;
}
